*.iml
.gradle
.idea
.run
.navigation
local.properties
.DS_Store
build
coverage
libs
release
*IntegrationTest.java
*IntegrationTest.kt
app/build.gradle
app/jacoco.gradle
app/build.properties
build
app/build
app/src/androidTest
app/src/test
wifiassistant.png
